

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SESSION COUNTER</title>
        <!-- <meta name="description" content=""> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href=""> -->
    </head>
    <body>
        <h1>Session Counter</h1>
        <h2>{{ session['count'] }} times</h2>
        <form action="/destroy_session" method="post">
            <input type="submit">Reset</input>
        </form>
    </body>
</html>