
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>All Users</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/global.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}"> -->
</head>
<body>
    <h1>All Users</h1>
    <table>
        <head>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
            </tr>
        </head>
        <tbody>
            {% for user in all_users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
    <a href="/users/new.html">Add a New User</a>
    </div>
</body>
</html>