

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My First Flask App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <h1>My First Flask App</h1>
    <table>
    {% for hor in range(rows): %}
        <tr>
            {% for vert in range(cols): %}
            <td class="c{{ (hor+vert)%2 }}"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>