
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Add Recipe</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <div>
        <h1>Add a New Recipe!</h1>
        <a href="/recipes">back to recipes</a>
        <a href="/user/logout">Logout</a>
    </div>
    <form action="/recipes/create_recipe" method="post">
        <input type="hidden" name="user_id" id="user_id" value="{{ session['uuid'] }}">
        <div>
            <input type="text" name="name" id="name" placeholder="Name">
            {% for message in get_flashed_messages(category_filter=["err_recipes_name"]) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
        </div>
        <div>
            <textarea type="text" rows="4" cols="40" name="description" id="description" placeholder="Description"></textarea>
            <!-- <input type="text" name="description" id="description" placeholder="Description"> -->
            {% for message in get_flashed_messages(category_filter=["err_recipes_description"]) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
            </div>
        <div>
            <textarea type="text" rows="4" cols="40" name="instructions" id="instructions" placeholder="Instructions"></textarea>
            <!-- <input type="text" name="instructions" id="instructions" placeholder="Instructions:"> -->
            {% for message in get_flashed_messages(category_filter=["err_recipes_instructions"]) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
        </div>
        <div>
            <p>Date Cooked/Made:</p>
            <input type="date" name="date_cooked" id="date_cooked">
            {% for message in get_flashed_messages(category_filter=["err_recipes_date_cooked"]) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
        </div>
        <div>
            <p>Under 30 Minutes?</p>
            <input type="radio" id="under_30_yes" name="under_30" checked="checked" value="yes">
            <label for="under_30_yes">Yes</label><br>
            <input type="radio" id="under_30_no" name="under_30" value="no">
            <label for="under_30_no">No</label><br>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>