
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Add User</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/global.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}"> -->
</head>
<body>
    <div>
    <h1>Add a New User</h1>
    <a href="/users">Home</a>
    </div>
    <form action="/user/create" method="post">
        <div>
            <input type="text" name="first_name" id="first_name" placeholder="First Name:">
            <!-- {% for message in get_flashed_messages(category_filter=["err_user_first_name"]) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %} -->
            </div>
        <div>
            <input type="text" name="last_name" id="last_name" placeholder="Last Name:">
            <!-- {% for message in get_flashed_messages(category_filter=["err_user_last_name"]) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %} -->
        </div>
        <div>
            <input type="text" name="email" id="email" placeholder="Email:">
            <!-- {% for message in get_flashed_messages(category_filter=["err_user_email"]) %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %} -->
        </div>
        <div>
            <button>Create</button>
        </div>
        </form>
</body>
</html