
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My First Flask App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
</head>
<body>
    <h1>My First Flask App</h1>
    <table>
        <head>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </head>
        <tbody>
            <tr>
                <td>John</td>
                <td>Smith</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
