

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Event Planner</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/global.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}"> -->
</head>
<body>
    <h1>Event Planner</h1>
    <h3>All Users</h3>
    <table>
        <head>
            <tr>
                <th>Fullname</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </head>
        <tbody>
            <tr>
                <td>John</td>
                <td>Smith</td>
            </tr>
        </tbody>
    </table>
</body>
</html>